@import url("../global/global.css");
@import url("../global/components.css");

.dashboard {
  padding: 2rem 5% 1rem 5%;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-4);
  margin: 2rem 0;
}

.task-list .task-card {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 0.1rem 0.5rem; 
    margin-bottom: 0.6rem;  
}
h2.headline-md {
    margin-top: 3rem;    
    margin-bottom: 1.5rem; 
    padding-left: 0.5rem;  
    color: var(--on-surface); 
    font-weight: 700;      
}
